/* Estilos globales */
body {
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;
}

/* Contenedor de imagen principal */
.image-container {
    width: 100%;
    height: 1000px;
    position: relative;
    background-image: url('../../assets/img-comedor1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    text-align: center;
}

.image-container p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.5rem;
    font-family: CampanaScript;
    color: white;
    line-height: 1.8;
}

.img-footer {
    margin-top: 5px;
    text-align: center;
    color: #5f5647;
}

/* Fuente personalizada */
@font-face {
    font-family: 'CampanaScript';
    src: url('../../assets/CampanaScript_PERSONAL_USE_ONLY.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Botones de la imagen principal */
.image-container button {
    background-color: #7a6f5a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.image-container button:hover {
    background-color: #5f5647;
}

/* Sección de imagen y contenido alineado a la izquierda */
.row-img-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.row-img-left img {
    width: 40%;
    border-radius: 25px;
    height: 350px;
    object-fit: cover;
    margin: 50px 0px;
}

.col-right {
    width: 40%;
    padding: 20px;
    text-align: center;
    color: #5f5647;
    font-size: 18px;
    line-height: 1.5;
}

.col-right h1 {
    color: black;
    text-align: left;
    font-size: 32px;
    margin-top: 0;
}

.col-right h2 {
    text-align: left;
    font-size: 24px;
    margin-top: 0;
}

.col-right p {
    text-align: left;
    font-size: 20px;
}


.banner-img {
    position: relative;
    background-image: url('../../assets/chuleton.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    margin: 0;
    background-attachment: fixed;
    /* Establece el efecto parallax */
    background-position: center;
    /* Centra la imagen */
}

.banner-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.banner-img-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: white;
    z-index: 2;
}

.banner-img-content h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    margin-bottom: 20px;
}

.banner-img-content p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
}

.banner-img-content button {
    font-weight: bold;
    background-color: white;
    color: black;
    padding: 15px 20px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    align-self: flex-start;
}

.banner-img-content button:hover {
    background-color: black;
    transition: 0.5s;
    color: white;
}

/* Nueva sección "Descubre el Kamado" */
.banner-img-kamado {
    position: relative;
    background-image: url('../../assets/kamado.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    margin: 0;
}

.banner-img-kamado::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.banner-img-kamado .banner-img2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centra el contenido horizontalmente */
    justify-content: center;
    /* Centra el contenido verticalmente */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    /* Alineación de texto centrada */
    color: white;
    z-index: 2;
}

.banner-img-kamado .banner-img2 h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
    /* Asegura que el texto del h1 esté centrado */
}

.banner-img-kamado .banner-img2 p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
}

/* Sección de imagen y contenido alineado a la derecha */
.row-img-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 600px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.col-left {
    width: 40%;
    padding: 20px;
    text-align: center;
    color: #5f5647;
    font-size: 18px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.col-left h1 {
    color: black;
    text-align: left;
    font-size: 32px;
    margin-top: 0;
}

.col-left h2 {
    text-align: left;
    font-size: 24px;
    margin-top: 0;
}

.col-left p {
    text-align: left;
    font-size: 20px;
    margin: 0;
}

.col-left button {
    font-weight: bold;
    font-size: 18px;
    background-color: black;
    color: white;
    padding: 20px 40px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    align-self: flex-start;
}

.col-left button:hover {
    background-color: white;
    color: black;
    transition: 0.5s;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.row-img-right img {
    width: 40%;
    border-radius: 25px;
    height: 350px;
    object-fit: cover;
    margin: 50px 0px;
}

/* Footer */
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    font-size: 14px;
}

.footer p {
    margin: 5px 0;
}

.footer a {
    color: #ffcc00;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

/* Responsividad */
@media (max-width: 768px) {
    .footer {
        font-size: 12px;
    }
}