body {
    font-family: 'CampanaScript';
    src: url('../../assets/CampanaScript_PERSONAL_USE_ONLY.otf') format('opentype');
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
}

/* Contenedor de la barra de navegación */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 5.5vh; /* Reducir la altura de la barra de navegación */
    z-index: 1000;
    background-color: rgb(24, 24, 24);
    padding: 0 15px; /* Reducir el padding horizontal */
    margin-bottom: 2vh; /* Mantener el margen inferior relativo */
}

/* Estilo para el contenedor del logo */
.logo-container {
    display: flex;
    align-items: center;
    /* Centra el logo verticalmente */
}

/* Estilo del logo */
.logo {
    width: 60px; /* Reducir el tamaño del logo */
    height: 60px; /* Reducir el tamaño del logo */
    transition: filter 0.3s ease, transform 0.3s ease;
}

/* Hover en el logo */
.logo:hover {
    filter: sepia(2) saturate(2) brightness(1.2) hue-rotate(20deg);
    /* Aumentar el sepia para un tono más cálido */
    transform: scale(1.1);
    /* Añade un pequeño efecto de zoom */
    cursor: pointer;
    /* Cambia el cursor al símbolo de una mano */
}
/* Contenedor de los enlaces */
.nav-links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

/* Estilo de cada elemento de la lista */
.nav-links li {
    display: inline-block;
}

/* Estilo de los enlaces */
nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: transform 0.3s ease, color 0.3s ease;
    /* Transición suave */
    display: inline-block;
    /* Cambiar el display a inline-block */
    padding: 10px;
    /* Agregar algo de padding para que sea más visible el cambio */
}

/* Estilo para el hover de los enlaces */
nav a:hover {
    color: burlywood;
    transform: scale(1.2);
    /* Aumenta el tamaño del enlace */
    cursor: pointer;
    /* Cambia el cursor a la mano */
}

/* Contenido principal de la página */
main {
    max-width: 100%;
    background-color: white;
    margin: 0 auto;
    padding-top:5.5vh; /* Añadir padding-top para separar el contenido del nav */
}

/* Estilo general del dropdown */
.dropdown {
    position: relative;
    cursor: pointer;
    
}

.dropdown-toggle {
    color: white;
    font-weight: bold;
    transition: color 0.3s;
    padding: 10px;
}

/* Menú desplegable */
.dropdown-menu {
    position: absolute;
    top: 30px;
    left: -17px;
    background-color: rgb(24, 24, 24);
    border-radius: 10px;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    width: 120px;
    z-index: 9999;
}

/* Estilo de los elementos del dropdown */
.dropdown-menu li {
    padding: 10px 20px;
    cursor: pointer;
}


/* Ocultar el menú si no está activo */
.dropdown-menu.hidden {
    display: none;
}