/* Reset de márgenes y padding */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Contenedor principal de la reserva */
.reserve-container {
    display: flex;
    justify-content: center;
    /* Centra el formulario horizontalmente */
    align-items: center;
    /* Centra el formulario verticalmente */
    min-height: 100vh;
    /* Asegura que el contenedor ocupe al menos el alto de la pantalla */
    background-image: url('../../assets/fondo-reserva.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 20px;
    background-attachment: fixed;
    /* Añade espacio solo en la parte superior */
    font-family: Arial, sans-serif;
}

/* Título de la sección */
h2 {
    text-align: center;
    color: black;
    margin-bottom: 20px;
}

h3 {
        margin: 0;
}

/* Formulario de reserva */
.reserve-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color:white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}


/* Campos de entrada */
.input-field {
    width: 75%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

/* Campo select */
.select-field {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

/* Contenedor de los contadores */
.counter-group {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; /* Cambiado a 100% para ocupar todo el espacio */
    max-width: 300px; /* Tamaño máximo ajustable */
    margin: 10px 0;
}

/* Botones de incremento y decremento */
.counter-group button {
    width: 40px;
    height: 40px;
    font-size: 18px;
    color: #333;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Input del contador */
.counter-group input {
    width: 130px; /* Ajustado al tamaño de los botones */
    height: 40px; /* Igual a la altura de los botones */
    text-align: center;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    /* Asegura que los bordes y padding no afecten las dimensiones */
}

/* Efecto hover sobre los botones */
.counter-group button:hover {
    background-color: #d4a356;
    color: white;
}

/* Estilo del input al recibir focus */
.counter-group input:focus {
    outline: none;
    border-color: #d4a356;
}

/* Botón de reserva */
.reserve-button {
    width: 80%;
    padding: 12px;
    background-color: #d4a356;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

/* Efecto hover sobre el botón de reserva */
.reserve-button:hover {
    background-color: rgb(255, 136, 0);
}

/* Estilo del botón de reserva al estar enfocado */
.reserve-button:focus {
    outline: none;
}

/* Información de contacto */
.contact-info {
    text-align: center;
    font-size: 14px;
    color: #555;
    margin-top: 10px;
}

/* Enlaces en la sección de contacto */
.contact-info a {
    color: #d4a356;
    text-decoration: none;
}

/* Cambio de idioma */
.language-switch {
    text-align: center;
    font-size: 12px;
    color: #555;
    margin-top: 10px;
}


.loader-overlay, .success-message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}