/* Reset de márgenes y padding */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

/* Contenedor principal de la reserva */
.reserve-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Asegura que el contenedor ocupe exactamente la altura de la ventana */
    background-image: url('../../assets/fondo-reserva.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0; /* Elimina padding para evitar desbordamiento */
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

/* Título de la sección */
h2 {
    text-align: center;
    color: black;
    margin-bottom: 20px;
}

h3 {
    margin: 0;
}

/* Formulario de reserva */
.reserve-form {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    height: 90%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    overflow: hidden; /* Evita que el formulario haga scroll */
    box-sizing: border-box; /* Asegura que el padding no cause desbordamiento */
}

/* Campos de entrada */
.input-field {
    width: 75%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

/* Campo select */
.select-field {
    width: 80%;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

/* Contenedor de los contadores */
.counter-group {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; /* Cambiado a 100% para ocupar todo el espacio */
    max-width: 300px; /* Tamaño máximo ajustable */
    margin: 10px 0;
}

/* Botones de incremento y decremento */
.counter-group button {
    width: 30px;
    height: 30px;
    font-size: 18px;
    color: #333;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Input del contador */
.counter-group input {
    width: 120px; /* Ajustado al tamaño de los botones */
    height: 30px; /* Igual a la altura de los botones */
    text-align: center;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    /* Asegura que los bordes y padding no afecten las dimensiones */
}

/* Deshabilitar flechas en inputs tipo number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    appearance: textfield; /* Standard property */
    -moz-appearance: textfield; /* Firefox-specific property */
}


/* Efecto hover sobre los botones */
.counter-group button:hover {
    background-color: #d4a356;
    color: white;
}

/* Estilo del input al recibir focus */
.counter-group input:focus {
    outline: none;
    border-color: #d4a356;
}

/* Botón de reserva */
.reserve-button {
    width: 80%;
    padding: 12px;
    background-color: #d4a356;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

/* Efecto hover sobre el botón de reserva */
.reserve-button:hover {
    background-color: rgb(255, 136, 0);
}