body {
    font-family: 'CampanaScript';
    /* Nombre que le asignas a la fuente */
    src: url('../../assets/CampanaScript_PERSONAL_USE_ONLY.otf') format('opentype');
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}


nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Fondo marrón semi-transparente */
    background-color: rgba(43, 27, 27, 0.9);
    padding: 1rem 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
}

.logo {
    width: 100px;
    height: 100px;
}

.nav-links {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    max-width: 100%;
    background-color: white;
    margin: 0 auto;
    /* margin-top: 150px; */
    /* Ajuste según la altura del nav para evitar superposición */
    /* padding: 20px; */
}